name: tag

on:
  push:
    tags: ['*']
    branches: ['!*']

# defaults:
#   run:
#     shell: bash

jobs:

  ubuntu-latest:
    name: ubuntu-latest
    runs-on: ubuntu-latest
    steps:
    - run: '! which monkey'
    - uses: FuzzyMonkeyCo/setup-monkey@v1
      with:
        command: version
        github_token: ${{ secrets.github_token }}
    - uses: actions/checkout@v4
    - name: lint
      uses: FuzzyMonkeyCo/setup-monkey@v1
      with:
        command: lint
        github_token: ${{ secrets.github_token }}
    - run: |
        monkey fmt -w
        git --no-pager diff --exit-code

  macos-latest:
    name: macos-latest
    runs-on: macos-latest
    steps:
    - run: '! which monkey'
    - uses: FuzzyMonkeyCo/setup-monkey@v1
      with:
        command: version
        github_token: ${{ secrets.github_token }}
    - uses: actions/checkout@v4
    - name: lint
      uses: FuzzyMonkeyCo/setup-monkey@v1
      with:
        command: lint
        github_token: ${{ secrets.github_token }}
    - run: |
        monkey fmt -w
        git --no-pager diff --exit-code

  windows-latest:
    name: windows-latest
    runs-on: windows-latest
    steps:
    - run: '! which monkey'
    - uses: FuzzyMonkeyCo/setup-monkey@v1
      with:
        command: version
        github_token: ${{ secrets.github_token }}
    - uses: actions/checkout@v4
    - name: lint
      uses: FuzzyMonkeyCo/setup-monkey@v1
      with:
        command: lint
        github_token: ${{ secrets.github_token }}
    - run: |
        monkey fmt -w
        git --no-pager diff --exit-code
